:root {
  --branco-principal : #FFFFFF;
  --cinza-secundario : #C0C0C0;
  --botao-zul: #167BF7;
  --cor-de-fundo: #00030C;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-de-fundo);
  color : var(--branco-principal);
}
.principal {
  background-image: url("./img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container__botao {
  
  background-color: #167BF7;
  text-decoration: none;
  color: var(--branco-principal);
  border-radius: 8px;
  padding: 1em;
  
}
.botao_branco {
background-color: transparent;
 color: #FFFFFF;
 text-decoration: none;
 border: 1px solid #FFFFFF;
 border-radius: 8px;
 padding: 16px;
}