@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --branco-principal : #FFFFFF;
  --cinza-secundario : #C0C0C0;
  --botao-zul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter', sans-serif;
  --branco-secundario :#F9F9F9;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-de-fundo);
  color : var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}
.principal {
  background-image: url("./img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
  
  
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container__caixa{
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}
.container__botao {
  background-color: #167BF7;
  text-decoration: none;
  color: var(--branco-principal);
  border-radius: 5px;
  padding: 1em;
  display : block;
  margin-bottom: 1em;
  
  
}
.botao_branco {
 background-color: transparent;
 color: #FFFFFF;
 text-decoration: none;
 border: 1px solid #FFFFFF;
 border-radius: 8px;
 padding: 16px;
}
.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}
.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario__imagem{
  width : 50%;
}
.descricao__titulo {
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-weight: 700;
  font-size: 48px;  
  margin-bottom: 0.1em;
}
.descricao__paragrafo {
  color: var(--branco-secundario);
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 16px; 
}